@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
  background: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Themify";
  src: url("../fonts/themify.eot");
  src: local("☺"), url("../fonts/themify.woff") format("woff"), url("../fonts/themify.ttf") format("truetype"), url("../fonts/themify.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DancingScript";
  src: url("../fonts/DancingScript-Regular.eot");
  src: local("☺"), url("../fonts/DancingScript-Regular.woff") format("woff"), url("../fonts/DancingScript-Regular.ttf") format("truetype"), url("../fonts/DancingScript-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DancingScript";
  src: url("../fonts/DancingScript-Medium.eot");
  src: local("☺"), url("../fonts/DancingScript-Medium.woff") format("woff"), url("../fonts/DancingScript-Medium.ttf") format("truetype"), url("../fonts/DancingScript-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DancingScript";
  src: url("../fonts/DancingScript-SemiBold.eot");
  src: local("☺"), url("../fonts/DancingScript-SemiBold.woff") format("woff"), url("../fonts/DancingScript-SemiBold.ttf") format("truetype"), url("../fonts/DancingScript-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "DancingScript";
  src: url("../fonts/DancingScript-Bold.eot");
  src: local("☺"), url("../fonts/DancingScript-Bold.woff") format("woff"), url("../fonts/DancingScript-Bold.ttf") format("truetype"), url("../fonts/DancingScript-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.eot");
  src: local("☺"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: local("☺"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Myanmar Text";
  src: url("../fonts/Myanmar Text Bold.eot");
  src: local("☺"), url("../fonts/Myanmar Text Bold.woff") format("woff"), url("../fonts/Myanmar Text Bold.ttf") format("truetype"), url("../fonts/Myanmar Text Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: #000;
  background-color: #fff;
  padding: 0;
  margin: 0;
}
body.no-scroll {
  overflow: hidden;
}

*,
*:hover,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.65em;
  margin: 0;
}

a,
input,
button,
span,
div {
  color: #000;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  border: 0;
  margin: 0;
  padding: 0;
}

a:focus,
button:focus {
  outline: none;
}

img,
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Blocks */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
.btn {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 1.7rem 3.7em;
  border-radius: 3px;
  background-color: #FF5353;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
@media (min-width: 769px) {
  .btn:hover {
    background-color: #ff4444;
  }
}
@media (max-width: 768px) {
  .btn {
    padding: 1.5rem 2.7em;
  }
}

.header__tel,
.header__email,
.header__giftCard,
.header__trackOrder,
.header__lang span,
.header__logo,
.subnav__link,
.nav__link,
.header__acc--searchIcon,
.header__acc--cartIcon,
.header__acc--likeIcon,
.footer__navLink,
.footer__copyright a {
  position: relative;
}
.header__tel:after,
.header__email:after,
.header__giftCard:after,
.header__trackOrder:after,
.header__lang span:after,
.header__logo:after,
.subnav__link:after,
.nav__link:after,
.header__acc--searchIcon:after,
.header__acc--cartIcon:after,
.header__acc--likeIcon:after,
.footer__navLink:after,
.footer__copyright a:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 105%;
  z-index: 10;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, -webkit-transform 0.2s linear;
}

.nav__link::after,
.header__acc--searchIcon::after,
.header__acc--cartIcon::after,
.header__acc--likeIcon::after {
  height: 2px;
}

.header__acc--searchIcon::after,
.header__acc--cartIcon::after,
.header__acc--likeIcon::after,
.footer__copyright a::after {
  background-color: #FF5353;
}

@media (min-width: 769px) {
  .header__tel:hover:after,
.header__email:hover:after,
.header__giftCard:hover:after,
.header__trackOrder:hover:after,
.header__lang span:hover:after,
.header__logo:hover:after,
.subnav__link:hover:after,
.nav__link:hover:after,
.header__acc--searchIcon:hover:after,
.header__acc--cartIcon:hover:after,
.header__acc--likeIcon:hover:after,
.footer__navLink:hover:after,
.footer__copyright a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
#header.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
}

.header__top {
  background-color: #FEF7F6;
}
.header__top .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 0;
}
.header__top .line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #BAB7B6;
  margin: 0 1.5rem;
}

.header__primary {
  position: relative;
  z-index: 100;
  padding: 1.4rem 0;
  background-color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__primary .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__tel,
.header__email,
.header__giftCard,
.header__trackOrder,
.header__lang span,
.header__lang .subnav__link {
  font-size: 1.1rem;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .header__tel,
.header__email,
.header__giftCard,
.header__trackOrder,
.header__lang span,
.header__lang .subnav__link {
    font-size: 0.9rem;
  }
}

.header__lang {
  display: block;
  position: relative;
  cursor: pointer;
}
.header__lang.active .header__lang--arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header__lang.active .subnav__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.header__lang--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__lang span {
  margin-right: 6px;
}
.header__lang--arrow {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.header__lang--arrow svg {
  width: 10px;
  height: 7px;
  stroke: #000;
}

.header__logo img {
  height: 2.4rem;
}
.header__logo::after {
  height: 3px;
  top: 110%;
  background-color: #FF5353;
}

.header__acc {
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__acc--search, .header__acc--cart, .header__acc--like {
  position: static;
}
.header__acc--cart, .header__acc--like {
  margin-left: 2rem;
}
.header__acc--searchIcon svg, .header__acc--cartIcon svg, .header__acc--likeIcon svg {
  height: 18px;
  width: 18px;
}
.header__acc--cartIcon svg, .header__acc--likeIcon svg {
  fill: none;
  stroke: #000;
  -webkit-transition: stroke 0.2s linear;
  transition: stroke 0.2s linear;
}
@media (min-width: 769px) {
  .header__acc--cartIcon:hover svg, .header__acc--likeIcon:hover svg {
    stroke: #FF5353;
  }
}
.header__acc--searchIcon svg {
  fill: #000;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
@media (min-width: 769px) {
  .header__acc--searchIcon:hover svg {
    fill: #FF5353;
  }
}
.header__acc--quantity {
  position: absolute;
  right: -5px;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: -8.5px;
  background-color: #FF5353;
  border-radius: 100%;
  padding: 2px;
  color: #fff;
  font-size: 7px;
  min-height: 12px;
  min-width: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 769px) {
  .header__acc--search, .header__acc--cart, .header__acc--like {
    position: relative;
  }
  .header__acc--search:hover .subnav, .header__acc--cart:hover .subnav, .header__acc--like:hover .subnav {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0px, 2px);
            transform: translate(0px, 2px);
  }
  .header__acc--cart.empty .subnav {
    opacity: 0;
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .header__acc--search {
    display: none;
  }
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  z-index: 10;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}
.search__icon .search {
  display: block;
  height: 15px;
  width: 15px;
  fill: #3a3a3a;
  stroke: none;
}

.search__input {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  padding: 1.2rem 1rem 1.2rem 3.8rem;
  border: 0px solid transparent;
}

@media (max-width: 768px) {
  .header__top .header__inner {
    padding: 1rem 0;
  }
  .header__top .line {
    margin: 0 1rem;
  }

  .header__primary {
    padding: 0.7rem 0;
  }

  .header__primary .header__logo img {
    height: 2.2rem;
  }
}
@media (max-width: 480px) {
  .header__top .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__top .header__inner .header__col {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 6px;
  }
  .header__top .header__inner .header__col:last-child {
    margin-bottom: 0;
  }
}
.nav__primary {
  display: none;
}
.nav__primary .nav__title {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.87rem;
  border-bottom: 1.8px solid #000;
}

.nav__link {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 3.5rem;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.nav__link:last-child {
  margin-right: 0;
}
@media (min-width: 769px) {
  .nav__link:hover {
    color: #FF5353;
  }
}
.nav__link::after {
  background-color: #FF5353;
}

@media (min-width: 769px) {
  .nav__search {
    display: none;
  }
}

/* Nav toggle */
.nav-toggle {
  display: none;
  margin-left: 2rem;
}
.nav-toggle svg {
  height: 18px;
  width: 18px;
  fill: #000;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

@media (max-width: 768px) {
  .nav__primary {
    display: block;
  }

  .nav__inner {
    width: 100%;
    height: 100vh;
    max-width: 250px;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2500;
    overflow-y: auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
  }

  .nav__search {
    padding: 0 2rem;
    margin-bottom: 0.7rem;
  }
  .nav__search .subnav {
    border-radius: 5px;
    background-color: #eeeeee;
  }

  .nav__link {
    display: block;
    padding: 1rem 2em;
    margin: 0;
  }

  .nav-toggle {
    display: block;
  }

  #overlay {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
  }
}
.subnav {
  display: block;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
@media (min-width: 769px) {
  .subnav {
    width: auto;
    min-width: 400px;
    position: absolute;
    top: 130%;
    right: -20px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    border-radius: 12px;
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear, -webkit-transform 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear, -webkit-transform 0.2s linear;
    transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.2s linear;
    transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.2s linear, -webkit-transform 0.2s linear;
  }
}

.subnav__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100px;
  position: absolute;
  top: 130%;
  right: -20px;
  z-index: 10;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: opacity 0.2s linear, visibility 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, visibility 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.2s linear;
  transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
}
.subnav__lang li {
  margin-right: 0.5rem;
}
.subnav__lang li:last-child {
  margin: 0;
}

.subnav__link {
  display: block;
  width: 100%;
  padding: 1rem 1.8rem;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: background-color 0.2s linear, color 0.2s ease-in-out;
  transition: background-color 0.2s linear, color 0.2s ease-in-out;
}
.subnav__link:after {
  height: 2px;
}
.subnav__link.active {
  color: #FF5353;
}
.subnav__link.active:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #FF5353;
}

@media (max-width: 768px) {
  .subnav {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2000;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0px, 0px);
            transform: translateX(0px, 0px);
  }

  .subnav__search {
    height: auto;
    position: relative;
    left: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .subnav__lang {
    right: 0;
  }
}
.subnav__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
}
.subnav__primary .subnav__btnBuck {
  margin-right: 2.2rem;
}
.subnav__primary .subnav__btnBuck svg {
  width: 18px;
  height: 18px;
  stroke: none;
  fill: #000;
}
.subnav__primary .subnav__title {
  font-size: 2.4rem;
  font-weight: 500;
}
@media (min-width: 769px) {
  .subnav__primary {
    display: none;
  }
}

.subnav-content__list {
  overflow-y: auto;
  background-color: #fff;
}
@media (min-width: 769px) {
  .subnav-content__list {
    max-height: 330px;
  }
}
@media (max-width: 768px) {
  .subnav-content__list.cartContentList, .subnav-content__list.likeContentList {
    height: 100%;
    overflow: auto;
  }
}

.subnav-content__item {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 1.2rem;
  background-color: #fff;
}

.subnav-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 18px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.subnav-product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .subnav-product__content {
    margin-bottom: 15px;
  }
}
.subnav-product__img {
  margin-right: 20px;
  max-width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
.subnav-product__text {
  margin-right: 15px;
}
.subnav-product__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .subnav-product__control {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 15px;
  }
}
.subnav-product__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .subnav-product__quantity {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.subnav-product__quantity--btn {
  height: 20px;
  width: 20px;
}
.subnav-product__quantity--btn svg {
  width: 10px;
  height: 10px;
  fill: #888;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
@media (min-width: 769px) {
  .subnav-product__quantity--btn:hover svg {
    fill: #000;
  }
}
.subnav-product__quantity--num {
  color: #000;
  font-size: 1.4rem;
  margin: 0.4rem 0 0.5rem;
}
@media (max-width: 768px) {
  .subnav-product__quantity--num {
    margin: 0 15px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.subnav-product__cart svg, .subnav-product__delete svg {
  width: 18px;
  height: 18px;
  fill: #888;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
@media (min-width: 769px) {
  .subnav-product__cart:hover svg, .subnav-product__delete:hover svg {
    fill: #FF5353;
  }
}
.subnav-product__cart {
  position: relative;
}
.subnav-product__cart.active {
  bottom: -2px;
}
.subnav-product__cart.active .subnav-product__cart--quantity {
  opacity: 1;
}
.subnav-product__cart svg {
  stroke: #888;
  fill: none;
  -webkit-transition: stroke 0.2s linear;
  transition: stroke 0.2s linear;
}
.subnav-product__cart--quantity {
  position: absolute;
  right: -5px;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: -8px;
  background-color: #888;
  border-radius: 100%;
  padding: 2px;
  opacity: 0;
  height: 12px;
  width: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s opacity;
  transition: background-color 0.2s linear, opacity 0.2s opacity;
}
.subnav-product__cart--quantity svg {
  width: 6.5px;
  height: 6.5px;
  fill: #fff;
  stroke: none;
}
@media (min-width: 769px) {
  .subnav-product__cart:hover svg {
    stroke: #000;
    fill: none;
  }
  .subnav-product__cart:hover .subnav-product__cart--quantity {
    background-color: #000;
  }
  .subnav-product__cart:hover .subnav-product__cart--quantity svg {
    fill: #fff;
    stroke: none;
  }
}
.subnav-product__delete {
  margin-left: 15px;
}
@media (max-width: 768px) {
  .subnav-product {
    border-bottom: 1px solid #d9d9d9;
  }
}

.subnav-content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  border-top: 1px solid #eaeaea;
  border-radius: 12px;
}
@media (max-width: 768px) {
  .subnav-content__bottom {
    display: block;
  }
}

.subnav-content__fullprice {
  font-size: 1.4rem;
  color: #888;
}
@media (max-width: 768px) {
  .subnav-content__fullprice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem;
  }
}

.fullprice {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .fullprice {
    margin-top: 0;
  }
}

.subnav-content__btn {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 1.7rem 4.7em;
  cursor: pointer;
}
@media (max-width: 768px) {
  .subnav-content__btn {
    width: 100%;
  }
}
.subnav-content__btn--num {
  color: #fff;
}

.intro {
  background: url("../img/bg-1.jpg") center no-repeat;
  background-size: cover;
  margin-bottom: 6rem;
}
.intro .container {
  max-width: 1500px;
  padding: 0 15px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (min-width: 769px) {
  .intro__inner {
    max-height: calc(100vh - 94px);
  }
}

.intro__content {
  width: 50%;
  text-align: center;
}

.intro__subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #565656;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin-bottom: 2.5rem;
}

.intro__title {
  font-size: 6rem;
  font-weight: 500;
  margin-bottom: 6rem;
}

.intro__preview {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro__preview img {
  height: auto;
  max-height: calc(100vh - 104px);
}

@media (max-width: 1100px) {
  .intro__title {
    font-size: 5rem;
    margin-bottom: 4.5rem;
  }
}
@media (max-width: 900px) {
  .intro__title {
    font-size: 4.6rem;
  }
}
@media (max-width: 768px) {
  .intro {
    margin-bottom: 4rem;
  }

  .intro__inner {
    height: calc(100vh - 66px);
    max-height: none;
  }

  .intro__content {
    width: 100%;
  }

  .intro__preview {
    display: none;
  }
}
@media (max-width: 420px) {
  .intro__subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.4rem;
  }

  .intro__title {
    font-size: 3.4rem;
    margin-bottom: 2.8rem;
  }
}
.featuredProd {
  padding: 6rem 0;
}

.featuredProd__title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.featuredProd__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 28px 1fr 28px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 28px;
}

@media (max-width: 768px) {
  .featuredProd {
    padding: 4rem 0;
  }

  .featuredProd__title {
    font-size: 2.8rem;
    margin-bottom: 3rem;
  }

  .featuredProd__items {
    grid-gap: 20px;
  }
}
@media (max-width: 400px) {
  .featuredProd__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 40px 0;
  }
}
.product {
  text-align: center;
}
@media (min-width: 769px) {
  .product:hover .product__hover--quickView, .product:hover .product__hover--like, .product:hover .product__hover--cart {
    bottom: 0;
    opacity: 1;
  }
}

.product__preview {
  position: relative;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .product__preview {
    margin-bottom: 1.2rem;
  }
}

.product__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 50px;
}
.product__hover--quickView, .product__hover--like {
  margin-right: 15px;
}
.product__hover--quickView, .product__hover--like, .product__hover--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  position: relative;
  bottom: -20px;
  opacity: 0;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 10% 10px #000;
          box-shadow: 0 3px 10% 10px #000;
  -webkit-transition: bottom 0.2s linear, background-color 0.2s linear, opacity 0.2s linear;
  transition: bottom 0.2s linear, background-color 0.2s linear, opacity 0.2s linear;
}
@media (min-width: 769px) {
  .product__hover--quickView:hover, .product__hover--like:hover, .product__hover--cart:hover {
    background-color: #FF5353;
  }
}
.product__hover--quickView svg {
  height: 15px;
  width: 15px;
  fill: #000;
  stroke: none;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
@media (min-width: 769px) {
  .product__hover--quickView:hover svg {
    fill: #fff;
  }
}
.product__hover--like svg, .product__hover--cart svg {
  height: 15px;
  width: 15px;
  fill: none;
  stroke: #000;
  -webkit-transition: stroke 0.2s linear;
  transition: stroke 0.2s linear;
}
@media (min-width: 769px) {
  .product__hover--like:hover svg, .product__hover--cart:hover svg {
    stroke: #fff;
  }
}
.product__hover--like {
  -webkit-transition: bottom 0.35s linear, background-color 0.2s linear, opacity 0.2s linear;
  transition: bottom 0.35s linear, background-color 0.2s linear, opacity 0.2s linear;
}
.product__hover--cart {
  -webkit-transition: bottom 0.5s linear, background-color 0.2s linear, opacity 0.2s linear;
  transition: bottom 0.5s linear, background-color 0.2s linear, opacity 0.2s linear;
}

.product__title {
  color: #888;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.product__rating {
  margin-bottom: 1.2rem;
}
.product__rating svg {
  height: 10px;
  width: 10px;
  fill: #FF5353;
}

.product__price {
  font-size: 1.8rem;
  font-weight: 500;
}

.productSale {
  background-color: #eae2d8;
  margin: 6rem 0;
}
.productSale .container {
  max-width: 1600px;
  padding: 0 15px;
}

.productSale__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productSale__content {
  width: 50%;
  text-align: center;
  padding: 2rem 0;
}

.productSale__title {
  font-size: 7.8rem;
  font-weight: 700;
  font-family: "DancingScript";
  color: #2a2a2a;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.productSale__subtitle {
  font-size: 4.2rem;
  font-weight: 300;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.productSale__preview {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.productSale__preview img {
  width: 100%;
}

@media (max-width: 1100px) {
  .productSale__title {
    font-size: 6.5rem;
    margin-bottom: 2.2rem;
  }

  .productSale__subtitle {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 900px) {
  .productSale__title {
    font-size: 6rem;
    margin-bottom: 1.8rem;
  }

  .productSale__subtitle {
    font-size: 2.8rem;
    margin-bottom: 2.6rem;
  }
}
@media (max-width: 768px) {
  .productSale {
    margin: 4rem 0;
  }

  .productSale__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .productSale__content {
    width: 100%;
    padding: 4rem 0;
  }

  .productSale__preview {
    width: 100%;
  }
}
.productPopular {
  padding: 6rem 0;
}
.productPopular .container {
  padding: 0 15px;
}

.productPopular__title {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem;
}

.productPopular__slider {
  margin-bottom: 7rem;
}
.productPopular__slider .product {
  margin: 0 15px;
}

.productPopular__sliderDots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.productPopular__sliderDots .slick-dots li {
  display: block;
  margin: 0 7.5px;
}
.productPopular__sliderDots .slick-dots button {
  display: block;
  height: 14px;
  width: 14px;
  font-size: 0;
  color: transparent;
  border-radius: 50%;
  background-color: #C6B5A1;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.productPopular__sliderDots .slick-dots .slick-active button {
  background-color: #FF5353;
}

@media (max-width: 768px) {
  .productPopular {
    padding: 4rem 0;
  }

  .productPopular__title {
    font-size: 2.8rem;
    margin-bottom: 3rem;
  }

  .productPopular__slider {
    margin-bottom: 4rem;
  }
  .productPopular__slider .product {
    margin: 0 10px;
  }

  .productPopular__sliderDots .slick-dots button {
    height: 10px;
    width: 10px;
  }
}
.features {
  padding: 6rem 0;
}

.features__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.feature {
  text-align: center;
  padding: 2.5rem;
  border: 1px solid #ebeef0;
}

.feature__icon {
  height: 41px;
  width: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 2.2rem;
}
.feature__icon svg {
  fill: #FF5353;
}

.feature__title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.feature__subtitle {
  color: #888;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .features__inner {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .features__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.productTrend {
  padding: 6rem 0;
}

.productTrend__title {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem;
}

.productTrend__products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px 30px;
}

@media (max-width: 768px) {
  .productTrend {
    padding: 4rem 0;
  }

  .productTrend__title {
    font-size: 2.8rem;
    margin-bottom: 3rem;
  }

  .productTrend__products {
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
@media (max-width: 480px) {
  .productTrend__products {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.journal {
  display: block;
  padding: 6rem 0;
}

.journal__title {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem;
}

.journal__posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.journal__post--preview {
  margin-bottom: 2.5rem;
}
.journal__post--data-time {
  font-size: 1.3rem;
  color: #888;
  position: relative;
  padding-left: 22px;
  margin-bottom: 1rem;
}
.journal__post--data-time::before {
  content: "";
  display: block;
  height: 6px;
  width: 12px;
  border-radius: 2px;
  background-color: #FF5353;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: 0;
  top: 50%;
}
.journal__post--title {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  text-overflow: ellipsis;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
@media (min-width: 769px) {
  .journal__post--title:hover {
    color: #FF5353;
  }
}
.journal__post--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #E1E1E1;
}
.journal__post--fashion, .journal__post--comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: #888;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.journal__post--fashion svg, .journal__post--comments svg {
  height: 12px;
  width: 12px;
  fill: #888;
  margin-right: 8px;
  -webkit-transition: stroke 0.2s linear;
  transition: stroke 0.2s linear;
}
@media (min-width: 769px) {
  .journal__post--fashion:hover, .journal__post--comments:hover {
    color: #FF5353;
  }
  .journal__post--fashion:hover svg, .journal__post--comments:hover svg {
    fill: #FF5353;
  }
}
.journal__post--fashion {
  margin-right: 3rem;
}
.journal__post--comments span {
  color: inherit;
}

@media (max-width: 768px) {
  .journal {
    padding: 4rem 0;
  }

  .journal__title {
    font-size: 2.8rem;
    margin-bottom: 3rem;
  }

  .journal__posts {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .journal__post {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 1fr;
    grid-template-columns: 250px 1fr;
  }
  .journal__post--preview {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .journal__post .journal__post--btns {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}
@media (max-width: 400px) {
  .journal__posts {
    grid-gap: 40px 0;
  }

  .journal__post {
    display: block;
  }
  .journal__post--preview {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .journal__post--preview img {
    max-height: none;
  }
}
.instagram__inner {
  padding: 6rem 0;
}

.instagram__title {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem;
}

.instagram__posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.instagram__post {
  position: relative;
}
.instagram__post img {
  width: 100%;
}
@media (min-width: 769px) {
  .instagram__post .instagram__hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .instagram__post:hover .instagram__hover {
    opacity: 1;
  }
  .instagram__post:hover .instagram__hover::before {
    height: 100%;
  }
}

.instagram__hover {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.instagram__hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 85%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  opacity: 0.8;
  background-color: #FF5353;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}
.instagram__hover svg {
  height: 32px;
  width: 32px;
  fill: #fff;
}

@media (max-width: 576px) {
  .instagram__posts {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
.footer {
  padding-top: 9rem;
  margin-top: 6rem;
  background-color: #E9E2D8;
}

.footer__inner {
  margin: 0 -15px;
}

.footer__cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5rem;
  border-bottom: 1px solid #D6D8D9;
}

.footer__col {
  padding: 0 15px;
}

.footer__navTitle {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.footer__nav li {
  margin-bottom: 1.6rem;
}

.footer__navLink {
  font-size: 1.4rem;
  color: #888;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
@media (min-width: 769px) {
  .footer__navLink:hover {
    color: #000;
  }
}

.footer__app-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__line {
  height: 1px;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #D6D8D9;
}

.footer__app-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 1.5em;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
@media (min-width: 769px) {
  .footer__app-btn:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.footer__app-btn--Title {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
}
.footer__app-btn--Title span {
  font-size: 1rem;
  line-height: 10px;
}
.footer__app-btn svg {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}
.footer__app-btn.google-play {
  margin-right: 1rem;
}
.footer__app-btn.google-play svg {
  fill: #FF5353;
}
.footer__app-btn.google-play span {
  color: #4a4a4a;
}
.footer__app-btn.app-store {
  color: #fff;
  background-color: #FF5353;
}
.footer__app-btn.app-store svg {
  fill: #fff;
}
.footer__app-btn.app-store span {
  color: #fff;
}

.footer__socialNetwork--title {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.footer__socialNetwork--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socialNetwork--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #fff;
  -webkit-transition: background-color 0.2s linear, -webkit-transform 0.2s linear;
  transition: background-color 0.2s linear, -webkit-transform 0.2s linear;
  transition: background-color 0.2s linear, transform 0.2s linear;
  transition: background-color 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
}
.footer__socialNetwork--link svg {
  width: 15px;
  height: 15px;
  fill: #000;
  margin: auto;
  -webkit-transition: fill 0.1s linear;
  transition: fill 0.1s linear;
}
@media (min-width: 769px) {
  .footer__socialNetwork--link:hover {
    background-color: #FF5353;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .footer__socialNetwork--link:hover svg {
    fill: #fff;
  }
}

.footer__copyright {
  font-size: 1.4rem;
  color: #888;
  text-align: center;
  padding: 4.4rem 0;
}
.footer__copyright a {
  color: #FF5353;
}

@media (max-width: 820px) {
  .footer {
    padding-top: 6rem;
    margin-top: 4rem;
  }

  .footer__cols {
    padding-bottom: 2rem;
  }

  .footer__col {
    width: auto;
    margin-bottom: 50px;
  }

  .footer__col:last-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
  }

  .footer__socialNetwork {
    margin-left: 50px;
  }

  .footer__line {
    display: none;
  }

  .footer__copyright {
    padding: 2.4rem 15px;
  }
}
@media (max-width: 520px) {
  .footer__cols {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__col:last-child {
    display: block;
  }

  .footer__line {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .footer__socialNetwork {
    margin-left: 0;
  }
}